<!-- Page enables users to login. -->

{% extends 'base.html' %}
{% block content %}

<form action="" method="POST" id="login_form" novalidate>
    <h1>Sign In</h1>
    {{ form.hidden_tag() }}
    <p>
        {{form.email.label}} <br>
        {{form.email(size=32)}}
        {% for error in form.email.errors %} <br>
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.password.label}} <br>
        {{form.password(size=32)}} <br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
    <p>{{form.submit}}</p>
</form>

{% endblock %}

{% block scripts %}
    <script>    
    document.getElementById("email").setAttribute("class", "form-control")
    document.getElementById("password").setAttribute("class", "form-control")
    document.getElementById("remember_me").setAttribute("class", "form-check-input")
    document.getElementById("submit").setAttribute("class", "btn btn-success")

    </script>
{% endblock %}